################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EvolveProject/.vs/EvolveProject/v16/Server/sqlite3
